.link{
    text-decoration: none;
    color: black;
}
.card {
    padding-top: 10px;
    font-size: 10px;
    /* border: 2px solid black; */
    width:200px;
    height:300px ;
    margin:5px;
    margin-bottom: 20px;
    text-decoration: none;
    /* background-color: #b3b3b3; */
    background-color: rgb(216, 216, 216);
    border-radius: 4px;
    transition:  0.15s linear 0s;
    /* display: flex;    */
    /* margin-bottom: 15px; */
    box-shadow: -4px 4px 0 #404040
}
.card:hover{
    outline:2px solid black;
    box-shadow: -10px 10px 0 #404040;

}


.imgCard{
    position: relative;
    top: 1%;
    height: 150px;
    width: 150px;
    border: 0.1px solid #404040;
    border-radius: 3px;


}
.genres{
    text-decoration: none !important  ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}