.link{
    text-decoration: none;
    color: black;
}
.card {
    text-decoration: none !important;
    font-size: 10px;
    border: 2px solid black;
    width:200px;
    height:300px ;
    margin:5px;
    text-decoration: none;
    background-color: #edebea;
    border-radius: 4px;
    columns: black;
    transition:  0.15s linear 0s;
    /* display: flex;    */
    /* margin-bottom: 15px; */
}
.card:hover{
    outline:2px solid black;
    box-shadow: -8px 8px 0 #404040;

}


.imgCard{
    position: relative;
    top: 1%;
    height: 150px;
    width: 150px;
    border: 0.1px solid black


}
.genres{
    text-decoration: none !important  ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}