/* .searchBar {

    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 25px;
    height: 30px;
    width: 400px;
    border-radius: 4px;
    
} */

.wrapper{
    display: inline-block;
    text-align: center;
    grid-column: 2/5;
    grid-row: 1/2;
    margin-top: 15px;
    margin-left: 25px;
}
.input{
    width: 300px;
    height: 30px;
    /* background-color: #e6db6b; */
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
}

.button{
    border-radius: 5px;
    height: 35px;
    background-color: rgb(94, 94, 94);  
    color:rgb(177, 177, 177);
       
}
.button :active{
    color: #ffe219;
}
.button :hover{
    color: #ffe219;
}